[core]
  autocrlf = input
  excludesfile = /Users/vpolko/.gitignore_global
  editor = nano

[user]
  name = Victor Polkó
  email = victorpolko@gmail.com

[init]
  defaultBranch = master

[color]
  ui = true
  diff = true
[color "branch"]
  remote = yellow
[color "status"]
  added = green bold
  changed = yellow italic
  untracked = red italic

[color "diff"]
  old = red bold
  new = green bold
  context = white bold dim

[advice]
  statusHints = false

[push]
  default = current

[commit]
  template = /Users/vpolko/.stCommitMsg

[gui]
  recentrepo = /Users/vpolko/Documents/projects/DataArt/ArtBinder/xylor

[alias]
  st = status
  s  = status
  l  = status
  ll = status
  cm = commit -m
  co = checkout
  di = diff
  br = branch
  b  = branch
  lg = log --oneline
  lgg = log --graph
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

  temp = !git add --all && echo \"\t +++++ Added all files to commit\" && git commit -m 'temp' && echo \"\t Created a commit called 'temp'\"
  untemp = !git reset HEAD~1

  supermerge = !git merge --no-ff -e $1

  cod = !git checkout develop
  pod = !git pull origin develop
  cof = !git checkout some-feature-branch
  pof = !git pull origin some-feature-branch

  stam = !git stash save

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
